header
  figure.logo
    img(src="./images/logo.png", alt="logo")
  .ham
    .line
    .line
    .line
  section.menu
    .menu-box
      ul
        li.menu-item
          figure.icon
            img(src="./images/menu_icon.png", alt="menu_icon")
          p 首頁
        li.menu-item
          figure.icon
            img(src="./images/menu_icon.png", alt="menu_icon")
          p 最嗨搭配
        li.menu-item
          figure.icon
            img(src="./images/menu_icon.png", alt="menu_icon")
          p 經典和牛套餐
        li.menu-item
          figure.icon
            img(src="./images/menu_icon.png", alt="menu_icon")
          p 角HIGH x 和牛究極吃法
        li.menu-item
          figure.icon
            img(src="./images/menu_icon.png", alt="menu_icon")
          p 合作店家
