script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src="./js/owl.carousel.min.js")
script(src="./js/TweenMax.js")
script(src="./js/ScrollMagic.js")
script(src="./js/highlight.pack.js")
script(src="./js/animation.gsap.js")
script(src="./js/debug.addIndicators.js")  
script(src="")
