meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title ⾓HIGH和⽜祭
meta(name='keywords', content='⾓HIGH、乾杯燒⾁、和⽜、三得利、Suntory、⾓瓶')
meta(name='description', content='⾓HIGH搭和⽜絕佳體驗，五種優惠套餐限時推出，品嚐究極美味，滿⾜你吃與喝的雙重享受都在⾓HIGH和⽜祭！')
meta(property='og:title', content='⾓HIGH和⽜祭')
meta(property='og:description', content='⾓HIGH搭和⽜絕佳體驗，五種優惠套餐限時推出，品嚐究極美味，滿⾜你吃與喝的雙重享受都在⾓HIGH和⽜祭！')
//- meta(property='og:image', content='./images/fb_share_01.png')
meta(property='og:type', content='website')
link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
