meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title 角HIGH和牛祭
meta(name='keywords', content='角HIGH、乾杯燒⾁、和牛、三得利、Suntory、角瓶')
meta(name='description', content='角HIGH搭和牛絕佳體驗，五種優惠套餐限時推出，品嚐究極美味，滿⾜你吃與喝的雙重享受都在角HIGH和牛祭！')
meta(property='og:title', content='角HIGH和牛祭')
meta(property='og:description', content='角HIGH搭和牛絕佳體驗，五種優惠套餐限時推出，品嚐究極美味，滿⾜你吃與喝的雙重享受都在角HIGH和牛祭！')
//- meta(property='og:image', content='./images/fb_share_01.png')
meta(property='og:type', content='website')
link(rel='icon', type='image/x-icon', href='./images/favicon.ico')

// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-TGC8M476JW')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TGC8M476JW');
