extend ../Layout.pug

block pageCSS
  link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/index.js")

block header
  include ../components/Header.pug

block footer
  include ../components/Footer.pug

block body
  .leading-page
    figure.logo
      img(src="./images/logo.png", alt="leading-page-logo")
    .leading-page-box
      figure.product
        img(src="./images/leading_page_01.png", alt="leading-page-product")
      p 請確認您已年滿18歲
      .btn-box
        .btn.yes Yes
        .btn.no No
  article
    section.banner
      figure.cow
        img(src="./images/banner_cow.png", alt="banner-cow")
      .slogan-box
        figure.pic-1
          img(src="./images/banner_01.png", alt="slogan1")
        figure.pic-2
          img(src="./images/banner_02.png", alt="slogan2")
      .product-box
        figure.pic-3
          img(src="./images/banner_03.png", alt="slogan3")
        figure.pic-4
          img(src="./images/banner_04.png", alt="slogan4")
      .slogan-txt
        | 角HIGH VS 和牛絕佳體驗，
        br
        | 多種組合限時搶購 !
        br
        | 品嚐究極美味，滿足你吃與喝的雙重享受!
      .title-box
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 感受最嗨搭配
    
    section.video
      figure.arrow-left
        img(src="./images/arrow_left.png", alt="arrow_left")
      figure.arrow-right
        img(src="./images/arrow_right.png", alt="arrow_right")
      .wrapper
        .video-carousel#video-carousel.owl-carousel
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/ayL7nF5hVKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 發薪第一杯
              P.txt 細膩軟嫩的和牛，搭配散發檸檬清香的角HIGH，甘甜入口即化的滋味，讓鮮甜與美味更加提升！
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/giEkqWC9cp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 充電第二杯
              P.txt 豐厚濃郁的和牛風味，搭上具有碳酸感的角HIGH，讓沁涼又爽快的氣泡⼀次帶走你⼼頭的不愉快！
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/gkG7JnA2jmg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 敘舊第三杯
              P.txt 吃光鮮甜多汁的和牛、敲杯圓潤順口的角HIGH，純粹和朋友敘敘舊、拌拌嘴，豐富我們甘苦與共的⼈⽣吧！
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/r2RYuRE5y0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 乾杯嗨起來
              P.txt 和牛搭角嗨！乾杯！
                br
                | 香甜濃郁的和牛搭配具爽快碳酸感角HIGH，為這雙重絕佳組合美味乾杯！
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 來份經典和牛饗宴
        
    section.setmeal
      figure.arrow-left
        img(src="./images/arrow_left.png", alt="arrow_left")
      figure.arrow-right
        img(src="./images/arrow_right.png", alt="arrow_right")
      .wrapper
        .setmeal-carousel#setmeal-carousel.owl-carousel
          .setmeal-item
            figure.pic
              img(src="./images/set_meal_01.png", alt="icon")
            .info
              figure.icon
                img(src="./images/set_meal_icon_01.png", alt="icon")
              .price-box
                .name 角HIGH乾杯和牛燒肉大口吃套餐
                .original-price 原價 
                  s $2,040
                .Special-price 特價 $1,699
                //- .tag 晚餐限定
              .info-txt
                b 正宗澳洲和牛七大美味之選
                br
                | 絕對是陣容豐盛且珍貴的和牛宴，主廚嚴選高級澳洲冷藏熟成和牛7種部位，搭配2杯角HIGH。軟嫩的和牛角切讓你品嚐到鮮嫩多汁的原味，配上角HIGH還能鎖住和牛肉質的甜美風味，以及饕客最愛的Q彈牛肋條與爽口的蔥鹽燒，讓你一吃就難忘。
                br
                br
                b 套餐內容
                br
                | 2杯角HIGH、冷藏穀飼和牛牛舌、橫膈膜、角切、牛勒條、牛五花、蔥燒牛五花、前胸肉，另外附上乾杯自家泡菜。
          .setmeal-item
            figure.pic
              img(src="./images/set_meal_02.png", alt="icon")
            .info
              figure.icon
                img(src="./images/set_meal_icon_02.png", alt="icon")
              .price-box
                .name 老饕肋眼牛排套餐
                .original-price 原價 
                  s $9.8/1g
                .Special-price 特價 $8/1g
                .tag 晚餐限定
              .info-txt
                b 老饕才懂的新鮮現切美味
                br
                | 來點最新鮮的！和牛肋眼牛排取自脊骨兩側，滑嫩肉質與大理石般的漂亮油花相互輝映，有嚼感的牛肉風味現點現切！油脂豐富肉香四溢的牛排，配上圓潤順口且散發檸檬清香的角HIGH，彷彿一口吃盡了和牛成長環境的美妙氣息。
                br
                br
                b 套餐內容
                br
                | 2杯角HIGH、現點現切肋眼牛排。
          .setmeal-item
            figure.pic
              img(src="./images/set_meal_03.png", alt="icon")
            .info
              figure.icon
                img(src="./images/set_meal_icon_02.png", alt="icon")
              .price-box
                .name 老饕的深夜食堂套餐
                .original-price 原價 
                  s $1,540
                .Special-price 特價 $1,450
                .tag 晚餐限定
              .info-txt
                b 和牛小腸撞出味蕾新滋味
                br
                | 六道乾杯Bar獨有的美味餐點，選用和牛小腸開發的多款下酒菜色，打造特有澳洲和牛摩滋創意料理！從辛辣氣息的石鍋麻婆豆腐，到滿滿肥美和牛小腸的和牛摩滋鍋等...多樣獨特料理搭配，滿桌濃郁辛香，輔以角HIGH的爽快碳酸感，你還能不胃口大開嗎？
                br
                br
                b 套餐內容
                br
                | 2杯角HIGH、和牛摩滋鍋、石鍋麻婆豆腐、茄汁義大利麵、美人高麗菜、日式辣燉煮牛筋、內臟四拼。
          .setmeal-item
            figure.pic
              img(src="./images/set_meal_04.png", alt="icon")
            .info
              figure.icon
                img(src="./images/set_meal_icon_02.png", alt="icon")
              .price-box
                .name 角HIGH經典燒肉饗宴套餐
                .original-price 原價 
                  s $1,120
                .Special-price 特價 $830
                .tag 晚餐限定
              .info-txt
                b 精選9種澳洲和牛與燒肉，搭配9種沾醬口感大爆發
                br
                | 為品嚐和牛美味精心設計的角HIGH經典燒肉饗宴，集結澳洲和牛鹽蔥牛舌、澳洲和牛上等牛五花、GETA牛五花...等9款不同肉品，依序搭配店家自製9種各具特色的沾醬，從清爽品嚐到濃厚風味，燒肉與沾醬皆以九宮格餐盤裝碟與相對應，跟散發檸檬清香角HIGH一起搭配，更增添和牛豐厚滋味！
                br
                br
                b 套餐內容
                br
                | 2杯角HIGH、澳洲和牛上等牛五花、澳洲和牛上等GETA牛五花、澳洲鹽蔥牛舌2.0、美國去骨牛小排、西班牙伊比利豬肋條、西班牙伊比利霜降豬、雞腿肉、牛肚(第一牛胃)、牛黃喉。
          .setmeal-item
            figure.pic
              img(src="./images/set_meal_05.png", alt="icon")
            .info
              figure.icon
                img(src="./images/set_meal_icon_02.png", alt="icon")
              .price-box
                .name 角HIGH極致燒肉饗宴套餐
                .original-price 原價 
                  s $1,420
                .Special-price 特價 $1,120
                .tag 晚餐限定
              .info-txt
                b 9種燒肉＋沾醬組合，領略日澳和牛9大風味
                br
                | 嚴選日澳和牛大集合，從風味濃郁的澳洲和牛到油花清甜不膩的日本和牛，呈現出豐富精彩的肉感滋味，依序搭配店家自製9種各具特色的沾醬，從清爽品嚐到濃厚風味，燒肉與沾醬皆以九宮格餐盤裝碟相對應，最後別錯過富有清爽碳酸感的角HIGH，讓和牛豐厚的滋味吃他千遍也不厭倦！
                br
                br
                b 套餐內容
                br
                | 2杯角HIGH、澳洲特選厚切牛舌、澳洲和牛上等牛五花、日本和牛上等角切牛肉、日本和牛牛五花、西班牙伊比利豬肋條、西班牙伊比利霜降豬、雞腿肉、牛肚(第一牛胃) 、牛黃喉。
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 角HIGH x 和牛 究極吃法大公開

    section.teaching
      .wrapper
        .video-carousel
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/CcGh7PTExl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              P.txt 想知道吃和牛哪個部位搭配角HIGH會迸出什麼不同的火花嗎？讓安心亞與阿Ken專業的來！帶你吃出絕佳的美味搭配。
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 角嗨和牛祭合作店家

    section.cooperation
      .wrapper
        .pic-box
          figure.pic
            img(src="./images/cooperation_01.png", alt="cooperation_pic")
          figure.pic
            img(src="./images/cooperation_02.png", alt="cooperation_pic")
        .info
          .sub-title 2021/6/14至2021/7/28止
          P.txt 全台乾杯與乾杯BAR皆有專屬角HIGH和牛套餐
        a.btn(href="https://bit.ly/2Qqh8mZ" target="_blank")
          span 查詢全台分店
        a.btn(href="https://bit.ly/2QVCWGR" target="_blank")
          span 馬上訂位
    
      






