extend ../Layout.pug

block pageCSS
  link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/index.js")

block header
  include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article
    section.leading-page
      figure.logo
        img(src="./images/logo.png", alt="leading-page-logo")
      .leading-page-box
        figure.product
          img(src="./images/leading_page_01.png", alt="leading-page-product")
        p 請確認您已年滿18歲
        .btn-box
          .btn.yes Yes
          .btn.no No
    section.banner
      figure.cow
        img(src="./images/banner_cow.png", alt="banner-cow")
      .slogan-box
        figure.pic-1
          img(src="./images/banner_01.png", alt="slogan1")
        figure.pic-2
          img(src="./images/banner_02.png", alt="slogan2")
      .product-box
        figure.pic-3
          img(src="./images/banner_03.png", alt="slogan3")
        figure.pic-4
          img(src="./images/banner_04.png", alt="slogan4")
      .slogan-txt
        | 角HIGH VS 和牛絕佳體驗，
        br
        | 多種組合限時搶購 !
        br
        | 品嚐究極美味，滿足你吃與喝的雙重享受!
    
    section.video
      .wrapper
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 感受最嗨搭配
        .video-carousel#video-carousel.owl-carousel
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/3oROzia_bfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 發薪第一杯
              P.txt 不要再等了，你的薪水已入帳，再等下去和牛烤熟就不好吃了!
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/3oROzia_bfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 充電第二杯
              P.txt 把工作的不愉快一口氣倒進角嗨吧！ 讓沁涼的碳酸氣泡將煩膩的情緒一次帶走！
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/3oROzia_bfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 敘舊第三杯
              P.txt 來場熱鬧的好友聚會，不怕喧囂與大啖一番料理，讓角HIGH搭和牛，爽快、俐落、有勁的口感齊湧上
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/3oROzia_bfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              .sub-title 乾杯嗨起來
              P.txt 飲下沁涼清香的角HIGH、吃一口和牛 感受被角HIGH帶出的的圓潤甘甜肉香滋味在舌尖蔓延，再乾一杯，繼續嗨！
        
    section.setmeal
      .wrapper
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 來份經典和牛饗宴
        .setmeal-carousel
          .setmeal-item
            figure.pic
              img(src="./images/set_meal_01.png", alt="icon")
            .info
              figure.icon
                img(src="./images/set_meal_icon.png", alt="icon")
              .price-box
                .name 老饕的深夜食堂套餐
                .original-price 原價 $1,540
                .Special-price 特價 $1,450
                .tag 晚餐限定
              .info-txt
                b 和牛小腸撞出味蕾新滋味
                br
                | 六道乾杯Bar獨有的美味餐點，選用和牛小腸開發的多款下酒菜色，打造特有澳洲和牛摩滋創意料理！從辛辣氣息的石鍋麻婆豆腐，到滿滿肥美和牛小腸的和牛摩滋鍋等...多樣獨特料理搭配，滿桌濃郁辛香，輔以角HIGH的爽快碳酸感，你還能不胃口大開嗎？
                br
                br
                b 套餐內容
                br
                | 2杯角HIGH、和牛摩滋鍋、石鍋麻婆豆腐、茄汁義大利麵、美人高麗菜、日式辣燉煮牛筋、內臟四拼。

    section.teaching
      .wrapper
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 角HIGH x 和牛 究極吃法大公開
        .video-carousel
          .video-item
            .iframe-box
              iframe(src="https://www.youtube.com/embed/3oROzia_bfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            .info
              P.txt 想知道吃和牛哪個部位搭配角HIGH會迸出什麼不同的火花嗎？讓安心亞與阿Ken專業的來！帶你吃出絕佳的美味搭配。

    section.cooperation
      .wrapper
        figure.title-icon
          img(src="./images/title_icon.png", alt="icon")
        .title 角嗨和牛祭合作店家
        .pic-box
          figure.pic
            img(src="./images/cooperation_01.png", alt="cooperation_pic")
          figure.pic
            img(src="./images/cooperation_02.png", alt="cooperation_pic")
        .info
          .sub-title 即日起至2021/6/20止
          P.txt 全台乾杯與乾杯BAR皆有專屬角HIGH和牛套餐
        a.btn(href="" target="_blank")
          span 查詢全台分店
        a.btn(href="" target="_blank")
          span 馬上訂位
    
    section.warning
      figure
        img(src="./images/warning.png", alt="warning")
      






