=rwd($w)
  @media only screen and (max-width: $w)
    @content
=minW($w)
  @media only screen and (min-width: $w)
    @content
=rwdh($h:900px)
  @media only screen and (max-height: $h)
    @content
=minH($h:900px)
  @media only screen and (min-height: $h)
    @content


=clearfix
  &:after
    content: ''
    display: block
    clear: both
  
=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content 
=animation($content)
	-webkit-animation: $content
	-moz-animation: $content
	-o-animation: $content
	animation: $content

=before($txt:'')
  &:before
    content: $txt
    display: block
    @content

=after($txt:'')
  &:after
    content: $txt
    display: block
    @content

=hover($w:768px)
  @media only screen and (min-width: $w)
    &:hover
      @content


=pstc0($t:0,$l:0,$b:0,$r:0)
  position: absolute
  top: $t
  bottom: $b
  left: $l
  right: $r
  margin: auto

=pstc5($t:50%,$l:50%)
  position: absolute
  top: $t
  left: $l
  transform: translate(-50%,-50%)

=fontH1()
  font-size: 1.5rem
  line-height: 1.5
  
=fontH2()
  font-size: 1.333333333333333rem
  line-height: 1.5
  
=fontH3()
  font-size: 1.166666666666667rem
  line-height: 1.5
  
=fontP()
  font-size: 1rem
  line-height: 1.5
  
=dib
  display: inline-block
  vertical-align: middle

*
  padding: 0
  margin: 0px
  // outline: 1px solid #f00
  font-family: 'Roboto','Noto Sans TC', sans-serif

img,iframe
  width: 100%
  vertical-align: top

html
  font-size: 24px
  +rwd(640px)
    font-size: 3.75vw

body
  background-color: #f3c100

article
  max-width: 750px
  margin: auto
  box-shadow: 0px 0px 10px #ffcc00
  background-image: url('../images/bg.png')
  overflow: hidden

$red: #cc0000
$yellow: #ffff00



