@charset "utf-8"
@import "all.sass"


.wrapper
  width: 84.375%
  margin: auto
figure.title-icon
  width: 3.4375%
  font-size: 0
  margin: auto
.title
  padding: 2% 0
  font-weight: bold
  text-align: center
  +fontH1

.owl-dots
  text-align: center
  .owl-dot
    width: .6rem
    height: .6rem
    // background-color: #fff !important
    border: 2px solid #000 !important
    border-radius: 50%
    margin: 0 5px
    &.active
      background-color: #000 !important
    &:focus
      outline: none



section.leading-page
  // display: none
  width: 100%
  max-width: 640px
  height: 100vh
  background-image: url('../images/bg.png')
  position: fixed
  z-index: 200
  overflow-y: auto
  figure.logo
    width: 15%
    padding: 5.5% 6.25%
  .leading-page-box
    // width: 30%
    // +rwd(560px)
    width: 52%
    +rwdh(640px)
      width: 30%
    +pstc5
    figure.product
      width: 100%
      +rwdh(640px)
        margin-bottom: -25%
    p
      +fontH1
      text-align: center
      font-weight: bold
    .btn-box
      padding-top: 15%
      font-size: 0
      +rwdh(640px)
        padding-top: 5%
      .btn
        width: 45%
        margin: 0 2.5%
        color: #fff
        background-color: #000
        text-align: center
        cursor: pointer
        +dib
        +fontH1


section.banner
  position: relative
  figure.cow
    width: 87.03125%
    margin-bottom: -13%
    float: right
  .slogan-box
    clear: both
    width: 82.03125%
    margin: auto
    position: relative
    figure.pic-1
      width: 100%
    figure.pic-2
      width: 89.523809%
      position: absolute
      top: 0
      right: -30%
  .product-box
    width: 100%
    margin-top: -5%
    font-size: 0
    figure.pic-3
      width: 28.59375%
      padding-top: 8%
      padding-left: 11.40625%
      box-sizing: border-box
      display: inline-block
      vertical-align: top
    figure.pic-4
      width: 71.40625%
      padding-right: 1%
      box-sizing: border-box
      display: inline-block
      vertical-align: top
  .slogan-txt
    +fontH3
    font-weight: bold
    padding-left: 11.40625%
    margin-top: -10%


section.video,section.teaching
  padding: 5% 0
  .wrapper
    .video-carousel
      .video-item
        width: 100%
        border: 5px solid #000
        box-sizing: border-box
        .iframe-box
          width: 100%
          padding-bottom: 100%
          position: relative
          iframe
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
        .info
          padding: 4.6875% 5.46875%
          .sub-title
            color: $red
            +fontH3
          .txt
            +fontH3


section.setmeal
  padding: 5% 0
  .wrapper
    figure.title-icon
    .title
    .setmeal-carousel
      .setmeal-item
        figure.pic
        .info
          padding: 4.6875% 5.46875%
          margin-top: -10%
          color: #fff
          background-color: #000
          figure.icon
            width: 24.21875%
            margin: auto
          .price-box
            margin: 4.6875% 0
            position: relative
            .name
              font-weight: bold
              +fontH3
            .original-price
              +fontH3
            .Special-price
              color: $yellow
              font-weight: bold
              +fontH2
            .tag
              +fontP
              width: 25%
              line-height: 1.666667rem
              border: 2px solid #fff
              text-align: center
              border-radius: 91.666667rem
              position: absolute
              right: 0
              bottom: 0
          .info-txt
            font-weight: normal
            +fontP
            b

section.teaching
  .wrapper
    .video-carousel
      .video-item
        .iframe-box
          width: 100%
          padding-bottom: 56.296296%


section.cooperation
  .wrapper
    figure.title-icon
    .title
    .pic-box
      +clearfix
      figure.pic
        width: 46.296296%
        &:nth-child(1)
          float: left
        &:nth-child(2)
          float: right
    .info
      padding: 4.6875% 0%
      .sub-title
        color: $red
        font-weight: bold
        +fontH3
      .txt
        +fontH3
    a.btn
      width: 100%
      margin-bottom: 5%
      display: block
      color: #fff
      background-color: #000
      text-decoration: none
      text-align: center
      span
        +fontH3
        font-weight: bold
        display: inline-block
        line-height: 3.333333rem
        position: relative
        &:before
          content: ''
          display: block
          width: 0
          height: 0
          border-top: .25rem solid transparent
          border-bottom: .25rem solid transparent
          border-left: .5rem solid #fff
          border-right: 0px solid #fff
          position: absolute
          top: 50%
          right: 0
          transform: translate(200%,-50%)



